.ip-info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
}


.ip-info-container .ip-info {
  background-color: white;
  color: var(--VeryDarkGray);
  width: 320px;
  height: 350px;
  border-radius: 13px;
  border: 1px lightgray solid;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  z-index: 100;


}

.ip-info-container .ip-info .ip-info-title {

  font-size: 11px;
  letter-spacing: 2px;
  color: rgb(87, 87, 87);

}

.ip-info-container .ip-info .ip-info-data {
  font-size:16px;
  font-weight: bold;
}





/* desktop */
@media (min-width: 768px) {

  .ip-info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 10.5rem;
    justify-content: center;
  }


  .ip-info-container .ip-info {

    width: 70%;
    padding-left: 40px;
    padding-right: 40px;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .hr {
    background-color:#dddddd;
    -webkit-transform:rotate(90deg);
    width:100px;
    height:0.6px;
    border:0.6px;
  }

}
