<div class="ip-info-container">

  <div class="ip-info">
      <h3 class="ip-info-title">IP ADDRESS</h3>
      <span class="ip-info-data">{{ipdata.ip}}</span>

      <h3 class="ip-info-title">LOCATION</h3>
      <span class="ip-info-data"> {{ipdata.location.region}}  -  {{ipdata.location.country}}</span>

      <h3 class="ip-info-title">TIME ZONE</h3>
      <span class="ip-info-data">{{ipdata.location.timezone}}</span>

      <h3 class="ip-info-title">ISP</h3>
      <span class="ip-info-data">{{ipdata.isp}}</span>


  </div>





</div>


