.ip-info {
    background-color: white;
    color: var(--VeryDarkGray);
    border-radius: 20px;
    text-align: center;
    width: 350px;
    min-height: 50px;
    padding: 15px;
    box-sizing: border-box;
    border:1px solid lightgray;
  }


  .map-container {
    position: absolute;
    top: 50;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 50px;
    width: 100%;
    height: 500px;
  }

  .map-frame {
    border: 2px solid black;
    height: 100%;
  }

  #map {
    height: 100%;
  }
