.background {
  background-image: url("../../../../public/assets/images/pattern-bg-mobile.png");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  height: 30%;
}


.background .container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.background .container p {
  margin: 0;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
}

.map-container {
  height: 500px;
  width: 100%;

}

.map-frame {

  height: 100%;


}

#map {
  height: 100vh;
  z-index: 1
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
    0%  {box-shadow: 20px 0 #000, -20px 0 #0002;background: #000 }
    33% {box-shadow: 20px 0 #000, -20px 0 #0002;background: #0002}
    66% {box-shadow: 20px 0 #0002,-20px 0 #000; background: #0002}
    100%{box-shadow: 20px 0 #0002,-20px 0 #000; background: #000 }
}



/* desktop */
@media (min-width: 768px) {
  .background {
    background-image: url("../../../../public/assets/images/pattern-bg-desktop.png");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: 30%;
  }
}
