.background-image {
  background-image: url("../../../../public/assets/images/pattern-bg-mobile.png");
  color:white;
  display:flex;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 100%;

}


.background-image h1{
  margin-top: 30px;
}
