.input-container {
  width: 100%;
}

.input-container .form {
  display: flex;
  justify-content: center;
}

.input-container .ip-input {
  height: 45px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;

  border:none;
  width: 60%;
  padding-left:22px;
  font-size: 20px;
  border-left: none;
  outline: none;
}

.input-container .btn-search {
  background-color: black;
  background-image: url('../../../../../public/assets/images/icon-arrow.svg');
  height: 45.5px;
  background-repeat: no-repeat;
  width: 50px;
  background-position: center;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  border: none;


 }


